.site-layout-background {
    background: white;
    min-height: calc(100% - 24px);
}
#root {
    height: 100%;
}
.spin {
    flex: auto;
    .ant-spin {
        // max-height: 100% !important;
        height: 100%;
    }
}
.ant-spin-nested-loading{
    height: calc(100vh - 64px);
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    .ant-spin-container{
        // height: calc(100% - 24px);
    }
}
