@import "../../style/var.scss";
.flex-col {
    height: 100%;
    display: flex;
    overflow: auto;
    flex-direction: column;
    .logo {
        min-height: 64px;
        display: flex;
        align-items: center;
        padding-left: 26px;
        // justify-content: center;
        color: #333;
        font-size: 16px;
        font-weight: 600;
        font-family: fantasy;
        background: white;
        border-right: 1px solid #f5f5f5;
        border-bottom: 1px solid #f5f5f5;
    }
    .slider {
        flex: auto;
    }
}
