$theme-color: rgb(0, 84, 254);
.route-active {
  background: yellow;
}
.route {
  background: green;
}
body,
html {
  height: 100%;
  .w100{
    width: 100%;
  }
  #root,
  .ant-layout {
    height: 100%;
    .ant-menu-item {
      &.ant-menu-item-selected {
        background: $theme-color;
        color: white;
      }
    }
    .ant-menu-sub {
      .ant-menu-item {
        padding-left: 0 !important;
      }
    }
    .ant-menu-item-only-child {
      position: relative;
      background: transparent;
      .ant-menu-title-content {
        font-size: 12px;
        color: #666;
        position: relative;
        padding-left: 48px;
        &:after {
          content: "";
          position: absolute;
          left: 32px;
          top: 50%;
          width: 6px;
          height: 6px;
          transform: translateY(-50%);
          border-radius: 50%;
          border: 2px solid #666;
          z-index: 99;
        }
      }
      &.ant-menu-item-selected {
        background: white;
        color: $theme-color;
        .ant-menu-title-content {
          position: relative;
          color: $theme-color;
          padding-left: 48px;
          &:after {
            content: "";
            position: absolute;
            left: 32px;
            top: 50%;
            width: 6px;
            height: 6px;
            transform: translateY(-50%);
            border-radius: 50%;
            border: none;
            background: $theme-color;
          }
        }
      }
    }
    .ant-menu-submenu-open {
      &.ant-menu-submenu-selected {
        .ant-menu-submenu-title {
          background: $theme-color;
          color: white;
        }
      }
    }
  }
}
